
  
  body {
      margin: 0;
      background: #0d0d0d;
      overflow: hidden;
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.site-header > .container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ul{
    display: flex;
}

.link{
    margin: 10px;
    list-style: none;
}

li.link a:not(.special){
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.2px;
}

.special{
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.2px;
  padding: 10px 20px;
  border-radius: 5px;
}

a{
    text-decoration: none;
}

.logo{
  width: 80px;
}

/* фон */

 .background-grid {
      display: grid;
      position: fixed;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      pointer-events: none;
      z-index: -1;
    }

    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff06;
      transition: background-color 0.5s ease;
    }

    .circle.highlight {
      background-color: var(--color);
    }

/* фон */

.main-nav{
  transition: all 0.3s ease;
}

/* бургер */
.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.burger span {
    width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
}

/* бургер */

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .main-nav {
    position: absolute;
    top: 64px;
    right: 0;
    background: #111;
    gap: 16px;
    padding: 16px;
    display: none;
  }

  .header-ul{
    flex-direction: column;
    align-items: center;
  }

  .main-nav.active {
    display: flex;
  }
}

.main-page-content{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-page-content > .container{
   width: 90%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

.sub-text{
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.main-text{
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 2px;
  text-align: center;
}

.sub-text2{
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25.2px;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.joinBeta{
  color: #000;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 20px;
   transition:all ease 0.5s 0s;
   margin: 30px 0px 0px 0px;
}

.joinBeta:hover{
  background-color: #ffffffb9;
  transition:all ease 0.5s 0s;
}

.setUp{
  color: #FFB494;
  font-family: "Roboto", sans-serif;
}

.builtFor{
  color: #FFDAA3;
  font-family: "Roboto", sans-serif;
}

.transparentlyPrice{
  color: #CCF5FF;
  font-family: "Roboto", sans-serif;
}

.info-block{
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 50px 0px;
}

.a{
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.a > img {
  width: 30px;
  margin-right: 5px;
}

/* .container > .info-block{
 display: flex;
 align-items: flex-end;
} */

/* молоко */
